* {box-sizing: border-box}

/* Set height of body and the document to 100% */
#bodyDiv {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: #555;
}

/* Style tab links */
.tablinkStyle {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
}

.tablinkStyle:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentStyle {
  color: black;
  display: none;
  padding: 50px 20px;
  height: 100%;
}